.container {
    max-width: 1920px;
    margin: 20, auto;
    background-color: beige;
    padding: 40px;
}

body {
    font-size: 16px;
    line-height: 1.5;
    
}

.accordeon_content {
    display: flex;
    flex-direction: column;     
}

.content {
    display: flex;
    align-items: center;
    transition: 1.5s;
}
.list_content1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    color: #000;
    display: block;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
    position: relative;
}


.list_content1:hover {
    color: rgb(201, 182, 83);
}

.accordeon_input {
    margin-right: 20px;
    display: none;
}
.visibility-icon {
    position: absolute;
    right: 0px;
    top:5px;
    transition: 0.5s;
    font-size: 20px;    
}
.visibility-icon:hover {
    transform: rotate(95deg);

}
.img_icon {
   
    display: none;
    overflow: hidden;
    
}

.img_accordeon {
    
    padding-right: 200px;
    transition: .3s;
}
.img_accordeon:hover {
    transform: scale(1.1);
}
.accordeon_input:checked + .img_icon {
    display: block;    
}
.accordeon_input:checked , .visibility-icon {
    transform: rotate(45deg);
}






